global
  daemon
  log /dev/stdout local0
  maxconn 4096
  tune.ssl.default-dh-param 2048

defaults
  log               global
  retries           3
  maxconn           2000
  timeout connect   5s
  timeout client    50s
  timeout server    50s
  stats    uri      /haproxy-admin
  stats    realm    Haproxy\ Statistics
  stats    auth     admin:Aa123456
  option   forwardfor except 127.0.0.1
  option   http-keep-alive
  timeout  http-keep-alive 5s

frontend microservice_http_in
  bind *:80
  mode http
  default_backend servers

backend servers
  balance roundrobin
  mode http
  option forwardfor
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  server google.com www.google.com check port 443 maxconn 1000 maxqueue 10 slowstart 60s
